<a href="/"><h1>Campus Taps</h1></a>

<div id="home-specials">
	<% @events.each do |e| %>
	<div>
		<p><%= e.name %></p>
		<p><%= link_to e.bar.name, e.bar %></p>
		<p><%= e.description %></p>
		<p><%= image_tag e.flyer.url(:small), :size => '300x300' %></p>
	</div>
	<% end %>
</div>