<h1>Listing colleges</h1>

<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>State</th>
  </tr>

<% @colleges.each do |college| %>
	<tr>
		<td><%= link_to college.name, college %></td>
		<td><%= college.city %></td>
		<td><%= college.state.state_abbr %></td>
	</tr>
<% end %>	
</table>