<h1>Listing posts</h1>

<% @posts.each do |post| %>
  <h3><%= link_to post.title, "/blog/#{post.id}" %></h3>
  <small><%= post.created_at.strftime('%m/%d/%Y at %I:%M%p') %></small>
  <p><%=raw post.body %></p>
<% end %>

<br />
