<a href="/"><h1>Campus Taps</h1></a>
<%- if user_signed_in? %>
    <%= "Signed in as #{current_user.email}. Not you?" %>
    <%= link_to 'Sign out', destroy_user_session_path %>
  <%- else %>
    <%= link_to 'Sign in with Facebook', user_omniauth_authorize_path(:facebook) %>
  <%- end %>
<br />